@import url("https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Condensed", sans-serif;
}
body {
  text-align: center;
  background-color: #1470b3;
  color: #ffffff;
  font-size: 1.2rem;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  font-size: 2rem;
  margin: 2%;
}
.select {
  margin: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input {
  margin: 1%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.group {
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  font-size: 2.5rem;
  position: fixed;
  right: 4%;
  bottom: 4%;
  animation-name: shiver;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  cursor: pointer;
}
i:hover {
  animation-name: none;
  transform: scale(1.3);
}

@keyframes shiver {
  0% {
    right: 4%;
  }
  90% {
    right: 4%;
  }
  91% {
    right: 5%;
  }
  92% {
    right: 3.5%;
  }
  93% {
    right: 4.5%;
  }
  94% {
    right: 3.5%;
  }

  95% {
    right: 4.5%;
  }
  96% {
    right: 3.5%;
  }
  97% {
    right: 4.5%;
  }
  98% {
    right: 3.5%;
  }
  99% {
    right: 4%;
  }
  100% {
    right: 4%;
  }
}

@media screen and (max-width: 450px) {
  body {
    font-size: 1rem;
  }
  header {
    font-size: 1.5rem;
  }
  .select {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (orientation: portrait) {
  header {
    margin: 5%;
  }

  .input {
    margin: 5%;
  }
}
