@import url("https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Condensed", sans-serif;
}
body {
  text-align: center;
  background-color: #1470b3;
  color: #ffffff;
  font-size: 1.2rem;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  font-size: 2rem;
  margin: 1%;
}
.select {
  margin: 1%;
  display: flex;
  justify-content: center;
}

.input {
  /* width: 50%; */
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.group {
  display: flex;
  justify-content: center;
  align-items: center;
}
