.info {
  /* padding: 4%; */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 100;
  background-color: #1470b3;
}
.info p {
  line-height: 2.5rem;
}
.info h1 {
  font-size: 2rem;
  margin: 2%;
}

@media screen and (max-width: 450px) {
  .info h1 {
    font-size: 1.5rem;
  }
}

@media screen and (orientation: portrait) {
  .info h1 {
    margin: 5%;
  }
}
